// Custom styles.
body {
    background:url(https://s2.ax1x.com/2019/06/12/VRxbDI.jpg); 
	/* background:url(/images/BJnvaYxfX.jpg); */
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:100% 100%;
}

.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.95;
    min-height: 500px;
}


